@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ucs-font {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

.varela-rounded-font {
  font-family: "Varela Round", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

.italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --custom-link-color: #9db5c4;
}

a:not(#mobile-nav-bar-links a):not(#ucs-footer-label a) {
  @apply duration-500 transition hover:text-blue-400 hover:underline focus:text-blue-400 focus:underline;
  color: var(--custom-link-color);
}

